h1 {
    margin-top: 250px;
}

.hide {
    display: none;
}

.leftText {
    padding-top: 5px;
    font-size: 17px;
}

.trademargin {
    margin: 0px;
}

#trademargin {
    display: none;
}

p {
    padding-top: 20px;
    font-size: large;
    font-weight: bold;
}

span {
    font-weight: normal;
}
